In [0]:
sample_data=[(1,'Nikhil','CSE','AP',75),(2,'Jeeva','ENGLISH','AP',90),(3,'Uma','IT','AP',95)]
columns=['ID','NAME','COURSE','STATE','PERCENTAGE']

In [0]:
df1=spark.createDataFrame(sample_data,columns)
df1.show()

+---+------+-------+-----+----------+
| ID|  NAME| COURSE|STATE|PERCENTAGE|
+---+------+-------+-----+----------+
|  1|Nikhil|    CSE|   AP|        75|
|  2| Jeeva|ENGLISH|   AP|        90|
|  3|   Uma|     IT|   AP|        95|
+---+------+-------+-----+----------+

In [0]:
sample_data2=[(5,'Nhil','CE','tn'),(6,'Jeva','EGLISH','up'),(7,'ma','eie','mp')]
columns2=['ID','NAME','COURSE','STATE']

In [0]:
df2=spark.createDataFrame(sample_data2,columns2)
df2.show()

+---+----+------+-----+
| ID|NAME|COURSE|STATE|
+---+----+------+-----+
|  5|Nhil|    CE|   tn|
|  6|Jeva|EGLISH|   up|
|  7|  ma|   eie|   mp|
+---+----+------+-----+

now merge the above two dataframes.to merge these two dfs using union the number of columns in both dfs 
should be same
we are adding another column in the second df

In [0]:
from pyspark.sql.functions import lit

lit function is used to add a constant value to all rows

In [0]:
df2=df2.withColumn('Marks',lit('null'))
df2.show()

+---+----+------+-----+-----+
| ID|NAME|COURSE|STATE|Marks|
+---+----+------+-----+-----+
|  5|Nhil|    CE|   tn| null|
|  6|Jeva|EGLISH|   up| null|
|  7|  ma|   eie|   mp| null|
+---+----+------+-----+-----+

In [0]:
mergedf=df2.union(df1)
mergedf.show()

+---+------+-------+-----+-----+
| ID|  NAME| COURSE|STATE|Marks|
+---+------+-------+-----+-----+
|  5|  Nhil|     CE|   tn| null|
|  6|  Jeva| EGLISH|   up| null|
|  7|    ma|    eie|   mp| null|
|  1|Nikhil|    CSE|   AP|   75|
|  2| Jeeva|ENGLISH|   AP|   90|
|  3|   Uma|     IT|   AP|   95|
+---+------+-------+-----+-----+